<div class="row">
    <div class="col-lg-12">
        <div class="gridbox normal-buttons">
          <%= render "form.html", Map.put(assigns, :action, admin_path(@conn, :update, @admin)) %>
        </div>
    </div>
</div>
